.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.pic {
  margin-top: 8px;
  overflow: auto;
  position: relative;
  z-index: 1;
}

.waldoGrid {
  position: absolute;
  top: 360px;
  left: 530px;
  z-index: 2;
  width: 25px;
  height: 50px;
}

.odlawGrid {
  position: absolute;
  top: 360px;
  left: 238px;
  z-index: 2;
  width: 25px;
  height: 50px;
}

.wizardGrid {
  position: absolute;
  top: 356px;
  left: 628px;
  z-index: 2;
  width: 25px;
  height: 50px;
}
