.navBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1976d2;
  position: fixed;
  box-sizing: border-box;
  height: 80px;
  z-index: 100;
}

.navBar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
